<!DOCTYPE html>
<html>
  <head>
    <title>asdi</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <!-- <link rel="icon" href="alien.png"> -->
    <!-- <script src="/script.js"></script> -->
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    ERROR

  </body>
</html>
